Y0 = (!A3) ∧ (!A2) ∧ (!A1) ∧ (!A0)
Y1 = (!A3) ∧ (!A2) ∧ (!A1) ∧ (A0)
Y2 = (!A3) ∧ (!A2) ∧ (A1) ∧ (!A0)
Y3 = (!A3) ∧ (!A2) ∧ (A1) ∧ (A0)
Y4 = (!A3) ∧ (A2) ∧ (!A1) ∧ (!A0)
Y5 = (!A3) ∧ (A2) ∧ (!A1) ∧ (A0)
Y6 = (!A3) ∧ (A2) ∧ (A1) ∧ (!A0)
Y7 = (!A3) ∧ (A2) ∧ (A1) ∧ (A0)
Y8 = (A3) ∧ (!A2) ∧ (!A1) ∧ (!A0)
Y9 = (A3) ∧ (!A2) ∧ (!A1) ∧ (A0)
Y10 = (A3) ∧ (!A2) ∧ (A1) ∧ (!A0)
Y11 = (A3) ∧ (!A2) ∧ (A1) ∧ (A0)
Y12 = (A3) ∧ (A2) ∧ (!A1) ∧ (!A0)
Y13 = (A3) ∧ (A2) ∧ (!A1) ∧ (A0)
Y14 = (A3) ∧ (A2) ∧ (A1) ∧ (!A0)
Y15 = (A3) ∧ (A2) ∧ (A1) ∧ (A0)